<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androclient">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->

    <!-- internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- contact permission -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- sms permission -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!-- call log permission -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <!-- notification permission -->
    

    <!-- storage permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
